/* Variables */

:root {
    --basic-black: #151C22;
    --basic-white: #FFFFFF;
    --basic-gray: #727A82;
    --basic-gray-light: #F1F2F4;
}


/* Global */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", "Tahoma", sans-serif;
    color: var(--basic-black);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 67px;
}

.main-nav-items {
    list-style: none;
    width: 400px;
    padding: 0;
    margin: 0;
    display: flex;
}

.personel-menu {
    display: flex;
}

.main-nav-item:not(:last-child) {
    margin-right: 35px;
}

.logo {
    margin: auto;
}

.personel-menu {
    display: flex;
    justify-content: flex-end;
    min-width: 400px;
}

.personel-menu a {
    display: block;
}

.personel-menu a:not(:last-child) {
    margin-right: 35px;
}

.search {
    width: 18px;
    height: 18px;
}

.cart {
    width: 20px;
    height: 18px;
}


/* Main */

.main {
    display: flex;
    flex-direction: column;
}


/* Main -- Promo */

.promo {
    min-height: 617px;
    background-color: var(--basic-gray-light);
    margin-bottom: 121px;
}

.promo-wrapper {
    display: flex;
    justify-content: center;
}

.promo-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 355px;
    padding-left: 25px;
    padding-top: 63px;
}

.promo-slogan {
    color: var(--basic-gray);
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    margin-top: auto;
    padding-left: 3px;
    padding-bottom: 4px;
}

.promo-title {
    font-family: "Anton", "Tahoma", sans-serif;
    font-size: 124px;
    line-height: 100px;
    letter-spacing: 1px;
    margin: 0;
    margin-top: 19px;
}

.promo-pict {
    position: relative;
    width: 530px;
    padding-left: 73px;
    padding-top: 50px;
    z-index: 10;
}

.promo-pict::before {
    content: "";
    position: absolute;
    top: 0;
    left: 23px;
    background-image: url(../img/bg2.svg);
    width: 232px;
    height: 176px;
    background-repeat: no-repeat;
    z-index: -1;
}

.promo-pict::after {
    content: "";
    position: absolute;
    bottom: -45px;
    right: -23px;
    background-image: url(../img/bg1.svg);
    width: 232px;
    height: 176px;
    background-repeat: no-repeat;
    z-index: -1;
}

.button {
    display: block;
    min-height: 64px;
    background-color: var(--basic-black);
    color: var(--basic-white);
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    padding-top: 25px;
}

.promo-btn {
    width: 219px;
    text-align: center;
    margin-bottom: auto;
    margin-top: 50px;
}


/* Main --Bestsellers */

.bestsellers {
    margin-bottom: 95px;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
}

.main-title {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
}

.title-wrapper a {
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-black);
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.title-wrapper a::after {
    position: absolute;
    content: "";
    background-color: var(--basic-black);
    width: 80px;
    height: 2px;
    bottom: 8px;
    left: -5px;
}

.catalog-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 62px;
}

.catalog-item p,
.category-item p {
    margin: 0;
}

.item-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding-top: 17px;
}

.cost {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding-top: 7px;
}


/* Main -- News */

.news {
    margin-bottom: 100px;
}

.news-wrapper {
    display: flex;
    min-height: 462px;
    margin-top: 63px;
}

.news-img-inner {
    width: 700px;
}

.news-inner {
    display: flex;
    align-items: center;
    width: 470px;
    background-image: url(../img/bg3.svg);
}

.text-news-inner {
    width: 400px;
    min-height: 397px;
    background-color: var(--basic-gray-light);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    padding-left: 43px;
    padding-right: 40px;
    padding-top: 55px;
}

.news-inner h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    margin-bottom: 30px;
}

.text-news-inner time {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 12px;
}

.news-text {
    font-size: 18px;
    line-height: 21px;
    color: var(--basic-gray);
    margin: 0;
    margin-bottom: 24px;
}

.news-btn {
    width: 200px;
    text-align: center;
}


/* Main -- Category Shop */

.category-items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 62px;
}


/* Foorter */